@import '_var';

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	#app {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		.layout {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			.layout-content {
				position: relative;
				overflow-x: hidden;
			}
		}
	}
}

::selection {
	background: rgba(37, 100, 255, 0.15);
}

* {
	font-family: $font-family;
	color: $text-color;
	line-height: $font-height;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	&::-webkit-scrollbar-track {
		background-color: $secondary-bgcolor;
		cursor: pointer !important;
	}

	&::-webkit-scrollbar {
		width: 0.25rem;
		height: 0.5rem;
		background-color: $secondary-bgcolor;
		cursor: pointer !important;
	}

	&::-webkit-scrollbar-thumb {
		&:hover {
			background-color: rgba(#777, 0.8) !important;
		}
		cursor: pointer !important;
		background-color: #777;
		border-radius: 5px;
	}
}

// .vc-popover-content-wrapper.is-interactive {
// 	transform: translate(35px, 183px) !important;
// }

.date-hidden .vc-date {
	display: none !important;
}

ol,
ul {
	padding-left: 1rem;
	color: #181818;
}
